@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Name : @Model.Name</h2>

<p>MemberShipType : @Model.MemberShipType</p>

@if (Model.DOB != null)
{
    <p>DOB : @Model.DOB</p>
}
