@using System.Web.UI.HtmlControls
@model System.Collections.Generic.List<Vidly.Models.Customer>

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout1.cshtml";
 }

<h2>Customers</h2>



<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th> <th>MemberShip Type</th>
    </tr>
    <thead>
    <tbody>
    @foreach (var customer in @Model)
    {
        <tr>

            <td>@Html.ActionLink(@customer.Name, "details", "Customer",
                    new {id = customer.Id}, null)</td>
            <td>
                @customer.MemberShipType.Name
            </td>
        </tr>
    }
    </tbody>
    <tr></tr>
</table>
